/*alert message*/
#alert-modal-content {display:none;}

/*alert preview*/
#alert-preview-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {
    height:150px; 
    width:400px; 
    /*color:rgb(0,162,232); */
    background-color:rgb(250,250,250);
    border:1px solid rgb(0,0,0); 
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.9);       
    padding:12px;
}

#simplemodal-container .simplemodal-data {
    padding:8px;    
}

#simplemodal-container code {
    background:#141414; 
    border-left:3px solid #65B43D; 
    color:#bbb; 
    display:block; 
    font-size:12px; 
    margin-bottom:12px; 
    padding:4px 6px 6px;
}

#simplemodal-container a {
    color:#ddd;
}

#simplemodal-container .button {
    display:inline; 
    z-index:3200; 
    position:absolute; 
    top:120px; 
    right:180px; 
    cursor:pointer;
}

#simplemodal-container h3 {
    text-align: center;
    font-size: 18px;
    color:rgb(0,0,0); 
}

.task-image-container{
    width: 320px;
    height: 240px;
}


.task-image{
    max-width: 100%; 
    max-height: 100%;
}

#task,
#preview-task,
#taskList{
    width:100%;
}